body {
  margin: 0;
}
img {
  pointer-events: none;
}
a {
  text-decoration: none;
  color: #26082f;
}
.default-color {
  color: #e87948;
}
a:visited {
  text-decoration: none;
}
/*homePage*/
/*  字体 */
@font-face {
  font-family: PingFangSCRegular;
  src: url('../fonts/PingFangSCRegular.ttf'), url('../fonts/PingFangSCRegular.eot');
  
  /* IE9+ */
}
@font-face {
  font-family: PingFangSCRegular;
  src: url('../fonts/PingFangSCRegular.ttf'), url('../fonts/PingFangSCRegular.eot');
  font-weight: bold;
  
  /* IE9+ */
}
html {
  font-family: PingFangSCRegular;
}
/* 大讲堂首页 */
.homePage {
  width: 10rem;
  height: 17.78666667rem;
  position: absolute;
  font-family: PingFangSCRegular;
  /*header begin*/
}
.homePage .hp-header {
  height: 1.17333333rem;
  width: 10rem;
  color: #26082f;
  font-size: 0.48rem;
  line-height: 1.17333333rem;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 0.53333333rem;
}
.homePage .hp-nav {
  height: 1.17333333rem;
  width: 10rem;
}
.homePage .hp-nav ul {
  /*li:nth-of-type(1){
				.px2rem(margin-left,30);
			}
			li:nth-of-type(2){
				.px2rem(margin-left,63);
			}
			li:nth-of-type(3){
				.px2rem(margin-left,62);
			}
			li:nth-of-type(4){
				.px2rem(margin-left,61);
			}
			li:nth-of-type(5){
				.px2rem(margin-left,30);
			}
			li:nth-of-type(6){
				.px2rem(margin-left,63);
			}
			li:nth-of-type(7){
				.px2rem(margin-left,62);
			}
			li:nth-of-type(8){
				.px2rem(margin-left,61);
			}
			li:nth-of-type(9){
				.px2rem(margin-left,30);
			}*/
}
.homePage .hp-nav ul li {
  float: left;
  text-align: center;
  font-size: 0.29333333rem;
  line-height: 0.58666667rem;
  margin-left: 0.4rem;
}
.homePage .hp-nav ul li a {
  text-decoration: none;
  color: #26082f;
}
.homePage .hp-nav ul li .default-color {
  color: #e87948;
}
.homePage .hp-main {
  margin: 0.4rem;
  width: 9.2rem;
}
.homePage .hp-main a img {
  width: 9.2rem;
  height: 5.06666667rem;
}
.homePage .hp-main h5 {
  margin-top: 0.25333333rem;
  margin-right: 0rem;
  margin-bottom: 0.25333333rem;
  margin-left: 0.4rem;
  font-size: 0.32rem;
}
.homePage .hp-main h5 a {
  text-decoration: none;
  color: #26082f;
}
.homePage .hp-main .hp-main-line {
  border-bottom: 0.05333333rem;
  margin-bottom: 0.34666667rem;
  width: 9.2rem;
  border-bottom: solid #f4f4f4;
}
.homePage .hp-footer {
  height: 1.30666667rem;
  width: 10rem;
  position: fixed;
  bottom: 0;
  z-index: 99;
  background-color: #f1f1f1;
}
.homePage .hp-footer ul {
  height: 1.30666667rem;
  width: 10rem;
  display: flex;
}
.homePage .hp-footer ul .active {
  /*background-color: #06A7E1;*/
}
.homePage .hp-footer ul li.active a img:last-child {
  display: block;
}
.homePage .hp-footer ul li.active a img:first-child {
  display: none;
}
.homePage .hp-footer ul li {
  display: inline-block;
  height: 1.30666667rem;
  flex: 1;
  /*span {
					margin-left: 0.86666667rem;
				}*/
}
.homePage .hp-footer ul li a .icon-001 {
  margin-top: 0.16rem;
  margin-bottom: 0.12rem;
  margin-left: 0.96rem;
  height: 0.58666667rem;
  width: 0.58666667rem;
}
.homePage .hp-footer ul li a .icon-002 {
  margin-top: 0.18666667rem;
  margin-bottom: 0.13333333rem;
  margin-left: 0.95333333rem;
  height: 0.54666667rem;
  width: 0.58666667rem;
}
.homePage .hp-footer ul li a .icon-003 {
  margin-top: 0.17333333rem;
  margin-bottom: 0.13333333rem;
  margin-left: 0.96rem;
  height: 0.56rem;
  width: 0.58666667rem;
}
.homePage .hp-footer ul li a .icon-004 {
  margin-top: 0.16rem;
  margin-bottom: 0.12rem;
  margin-left: 0.98666667rem;
  height: 0.58666667rem;
  width: 0.46666667rem;
}
.homePage .hp-footer ul li span {
  color: #26082f;
  font-size: 0.24rem;
  text-align: center;
  margin-bottom: 0.16rem;
  width: 2.4rem;
  height: 0.48rem;
  display: block;
}
.homePage .hp-footer ul li .default-color {
  color: #e87948;
}
.homePage .hp-footer ul li a img:last-child {
  display: none;
}
.homePage .hp-footer ul li a img:first-child {
  display: block;
}
/* 详情页大讲堂 */
/*all-details*/
.return {
  position: absolute;
  top: 0.8rem;
  left: 0.4rem;
}
.return .a-return {
  font-size: 0.48rem;
  font-weight: bolder;
  font-family: PingFangSCRegular;
  text-decoration: none;
  color: #26082f;
}
.return .a-rtn-icon {
  width: 0.4rem;
  height: 0.4rem;
}
.all-h5-01 {
  text-align: center;
  font-family: 黑体;
}
.all-time {
  margin-left: 6.66666667rem;
  font-family: 黑体;
}
p {
  font-size: 0.32rem;
  margin-top: 0.53333333rem;
  line-height: 0.6rem;
}
/*  注册 登录  begin */
/*sign in  登录*/
.ss-ipt-btm {
  width: 5.33333333rem;
  font-size: 0.37333333rem;
  height: 1.17333333rem;
  border-radius: 1.17333333rem;
  border: none;
}
.ss-ipt0 {
  border: 1px solid #cecece;
  padding-left: 0.46666667rem;
  width: 9.2rem;
}
.ss-ipt-text {
  font-size: 0.30666667rem;
}
.ss-ipt1 {
  margin-top: 3.6rem;
}
.online {
  border: 1px solid #cecece;
  width: 9.2rem;
  height: 1.17333333rem;
  padding-left: 0.46666667rem;
  border-radius: 1.17333333rem;
  font-size: 0.37333333rem;
  margin-top: 0.26666667rem;
}
.psd-01 {
  margin-top: 0.26666667rem;
  width: 7.46666667rem;
  border: none;
}
#look {
  width: 0.66666667rem;
  height: 0.38666667rem;
  /*position:absolute;
	.px2rem(top, 801);
	.px2rem(right, 61);*/
  display: inline-block;
}
.icon-02 {
  background: url(../img/u24-02.png) no-repeat;
  background-size: 7%;
  background-position: 8.06666667rem 0.4rem;
}
.forgotPassword {
  margin-top: 0.22666667rem;
  width: 9.24rem;
  text-align: right;
  padding-right: 0.42666667rem;
}
.forgotPassword a {
  text-decoration: none;
  color: #26082f;
}
.ss-in {
  background-color: #e87948;
  margin-top: 1.77333333rem;
  margin-left: 2rem;
  color: #ffffff;
}
.ss-register1 {
  margin-top: 0.36rem;
  margin-left: 2rem;
}
/*fontPassword  找回密码*/
.ft-paswd {
  margin-top: 5.26666667rem;
}
.ft-next {
  margin-top: 1.6rem;
}
/*fontPassword1  找回密码1*/
.ft-txt {
  font-size: 0.30666667rem;
  color: #231815;
  padding-left: 0.5rem;
}
.ft-text {
  margin-top: 2.34666667rem;
}
.ft-text1 {
  margin-top: 0.38666667rem;
}
.ft-text2 {
  margin-top: 0.17333333rem;
  margin-left: 3.68rem;
  padding-left: 0rem;
}
.ft-paswd01 {
  margin-top: 0.26666667rem;
}
.ft-paswd02 {
  background: none;
  margin-top: 0.26666667rem;
}
.ft-next1 {
  margin-top: 2.81333333rem;
}
/*fontPassword2  找回密码2*/
.ft2-paswd01 {
  background: url(../img/u24.png) no-repeat right;
  background-size: 44px 26px;
  margin-top: 0.26666667rem;
  background-position: 8.06666667rem 0.4rem;
}
.ft2-paswd02 {
  margin-top: 0.26666667rem;
}
/*register  注册*/
.ss-ipt3 {
  margin-top: 0.33333333rem;
}
.ss-ipt4 {
  margin-top: 0.37333333rem;
}
.ss-ipt5 {
  margin-top: 0.33333333rem;
}
.sIn-In {
  margin-top: 0.30666667rem;
  margin-left: 3.18666667rem;
}
.sIn-In .sin-aa {
  text-decoration: none;
  color: #26082f;
}
.register1 {
  margin-top: 1.52rem;
  margin-left: 2rem;
}
/*  注册 登录  end */
/*  CoursePurchase    课程购买  begin  */
.cp-main {
  width: 10rem;
  height: 26.66666667rem;
  font-family: PingFangSCRegular;
}
.cp-main .cp-box {
  border-bottom: 0.13333333rem;
  border-bottom: solid #e6e6e6;
  margin-top: 0.88rem;
}
.cp-main ul:first-child {
  width: 10rem;
  height: 2.10666667rem;
  margin-top: 2.30666667rem;
}
.cp-main ul:first-child li:first-child {
  width: 10rem;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  text-align: center;
}
.cp-main ul:first-child li:first-child span {
  color: #231815;
  font-size: 0.26666667rem;
}
.cp-main ul:first-child li:first-child a {
  color: #e66f3b;
  font-size: 0.26666667rem;
}
.cp-main ul {
  width: 10rem;
  height: 2.13333333rem;
  margin-top: 0.88rem;
}
.cp-main ul li {
  width: 10rem;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  text-align: center;
}
.cp-main ul li span {
  color: #231815;
  font-size: 0.26666667rem;
  font-family: 黑体;
}
.cp-main ul li a {
  color: #e66f3b;
  font-size: 0.26666667rem;
}
.cp-main .img-xing {
  width: 0.4rem;
  height: 0.37333333rem;
}
.cp-phse {
  margin-left: 2.4rem;
  background-color: #e87948;
  color: #ffffff;
}
/*  CoursePurchase    课程购买  end  */
/*  PaymentCenter    支付中心  begin  */
.pyc-main .pyc-ulst li {
  width: 10rem;
  height: 1.38666667rem;
  line-height: 1.38666667rem;
  border-bottom: 0.13333333rem;
  border-bottom: solid #e6e6e6;
}
.pyc-main .pyc-ulst li span {
  font-size: 0.30666667rem;
  margin-left: 0.89333333rem;
  font-family: PingFangSCRegular;
}
.pyc-ipt1 {
  width: 9.2rem;
  margin-top: 0.84rem;
  margin-left: 0.4rem;
  background: none;
}
.pyc-btn {
  margin-top: 2.33333333rem;
  margin-left: 2.4rem;
}
.pyc-txt {
  margin-top: 0.54666667rem;
  margin-left: 2.6rem;
}
.pyc-txt a {
  font-size: 0.25333333rem;
  color: #e66f3b;
}
/*  PaymentCenter    支付中心  end  */
/*Performance Center  业绩中心*/
.pc-main {
  width: 10rem;
  height: auto;
  margin-top: 0.65333333rem;
}
.pc-main .ulst {
  /*第一行UL */
  width: 10rem;
  height: 2.54666667rem;
  display: inline-block;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
}
.pc-main .ulst li {
  width: 3.33333333rem;
  height: 2.54666667rem;
  text-align: center;
  flex: 1;
}
.pc-main .ulst li a {
  text-decoration: none;
  font-size: 0.34666667rem;
  color: #e66f3b;
}
.pc-main .ulst li a b {
  font-size: 0.42666667rem;
  line-height: 1.08rem;
  color: #e66f3b;
}
.pc-main .ulst li span {
  font-size: 0.34666667rem;
  line-height: 0.72rem;
}
.pc-main .pc-xian {
  border-bottom: 10px solid #e6e6e6;
}
.pc-main .ulst2 li:first-child {
  border: none;
}
.pc-main .ulst2 li {
  height: 2.69333333rem;
  border-left: 1px solid #e6e6e6;
}
.pc-main .ulst2 li a {
  line-height: 1.24rem;
}
.pc-main .ulst2 li span {
  line-height: 0.56rem;
}
/*  业绩中心最后一张  end */
/*  RechargeDetails   充值明细  begin  */
/*.rd-main{*/
.rd-ulst:first-child {
  border-top: 1px solid #e6e6e6;
  font-family: PingFangSCRegular;
}
.rd-ulst {
  width: 10rem;
  height: 2.6rem;
  border-bottom: 0.13333333rem;
  border-bottom: solid #e6e6e6;
}
.rd-ulst li {
  position: relative;
  width: 10rem;
  height: 2.6rem;
}
.rd-ulst li h5 {
  display: inline-block;
  width: 6.13333333rem;
  font-size: 0.30666667rem;
  margin-left: 0.4rem;
  margin-top: 0.66666667rem;
  color: #000000;
}
.rd-ulst li a {
  color: #e66f3b;
  font-size: 0.30666667rem;
  line-height: 0.84rem;
  text-align: right;
  margin-right: 0.2rem;
  text-decoration: none;
}
.rd-ulst li a b {
  color: #e66f3b;
  font-size: 0.44rem;
}
.rd-ulst li span {
  color: #999999;
  font-size: 0.26666667rem;
  position: absolute;
  bottom: 0.8rem;
  right: 0.4rem;
}
/*  RechargeDetails   充值明细  end  */
/*  CashWithdrawalDetails    提现明细    begin   */
.cwd-main .cwd-h5 {
  width: 4rem;
}
.cwd-main .cwd-h5-1 {
  width: 3.46666667rem;
  margin-left: 2rem;
}
.cwd-main li {
  width: 10rem;
  height: 1.29333333rem;
}
.cwd-main li .cwd-span {
  bottom: 0.66666667rem;
  left: 0.4rem;
}
.cwd-main li .cwd-span2 {
  bottom: 0.66666667rem;
}
/*  CashWithdrawalDetails    提现明细    end    */
.mb-main .mb-ulst {
  background: url(../img/hp-right.png);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: 9.4rem 1.067rem;
}
.mb-main .mb-ulst li {
  width: 10rem;
  height: 1.29333333rem;
}
.mb-main .mb-ulst li .mb-h5 {
  width: 6.13333333rem;
}
.mb-main .mb-ulst li .cwd-span {
  bottom: 0.66666667rem;
  left: 0.4rem;
}
.mb-main .mb-ulst li .cwd-span2 {
  bottom: 0.66666667rem;
  right: 1.4rem;
}
/*  MyBonus     我的奖金    */
/*  TransferDetails   转账明细  begin */
.td-main .td-ulst {
  background: none;
}
.td-main .td-ulst li {
  width: 10rem;
  height: 1.29333333rem;
}
.td-main .td-ulst li .mb-h5 {
  width: 7.6rem;
}
.td-main .td-ulst li .cwd-span {
  bottom: 0.66666667rem;
  left: 0.4rem;
}
.td-main .td-ulst li .cwd-span2 {
  bottom: 0.66666667rem;
  right: 0.4rem;
}
/*  TransferDetails   转账明细  end */
/*   AnnouncementList   公告列表   begin */
.al-main .al-ulst:first-child {
  border-top: 1px solid #e6e6e6;
  font-family: PingFangSCRegular;
}
.al-main .al-ulst {
  background: url(../img/hp-right.png);
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 9.4rem 0.55rem;
  position: relative;
  border-bottom: 0.14666667rem;
  border-bottom: solid #e6e6e6;
  width: 10rem;
  heigit: 1.65333333rem;
}
.al-main .al-ulst li {
  width: 10rem;
  height: 1.65333333rem;
  margin: 0;
}
.al-main .al-ulst li .al-h5 {
  font-size: 0.32rem;
  padding-left: 0.4rem;
  padding-top: 0.33333333rem;
  color: #000000;
}
.al-main .al-ulst li .al-h5 img {
  width: 0.4rem;
  height: 0.4rem;
}
.al-main .al-ulst li .al-span {
  color: #999999;
  font-size: 0.29333333rem;
  position: absolute;
  bottom: 0.36rem;
  left: 0.4rem;
}
/*   AnnouncementList   公告列表    end  */
/*   AnnouncementList02   公告详情    begin  */
.al2-main {
  font-family: PingFangSCRegular;
  width: 10rem;
}
.al2-main .al2-h5 {
  width: 10rem;
  font-size: 0.34666667rem;
  line-height: 0.78666667rem;
  text-align: center;
  color: #000000;
}
.al2-main .al2-span {
  width: 10rem;
  font-size: 0.21333333rem;
  line-height: 0.48rem;
  text-align: center;
  color: #999999;
  display: block;
}
.al2-main p {
  font-family: PingFangSCRegular;
  color: #999999;
  margin-left: 0.41333333rem;
}
.al2-main .al2-p-1 {
  width: 9rem;
  font-size: 0.30666667rem;
  line-height: 0.56rem;
  margin-top: 0.44rem;
}
.al2-main .al2-p-2 {
  margin-top: 0.82666667rem;
  width: 9rem;
}
/*   AnnouncementList02   公告详情    end  */
/*    SecuritySettings    密保设置   begin */
/*.div{
	.px2rem(height, 990);
	.px2rem(width, 750);
	background-color:blue;
}
*/
.ssg-main {
  width: 10rem;
  font-family: PingFangSCRegular;
  position: relative;
}
.ssg-main .ssg-ulst {
  width: 10rem;
  position: relative;
}
.ssg-main .ssg-ulst .ssg-list {
  width: 10rem;
  height: 1.37333333rem;
  border-bottom: 0.14666667rem;
  border-bottom: solid #e6e6e6;
}
.ssg-main .ssg-ulst .ssg-list a {
  text-decoration: none;
  line-height: 1.37333333rem;
  margin-left: 0.4rem;
  font-size: 0.30666667rem;
  color: #111111;
}
.ssg-main .ssg-ulst .ssg-list:first-child {
  background: url(../img/hp-right.png);
  background-size: 5%;
  background-repeat: no-repeat;
  position: relative;
  background-position: 9.4rem 0.467rem;
}
.ssg-main .ssg-ulst .ssg-ipt {
  line-height: 0.8rem;
  width: 4.26666667rem;
  height: 0.8rem;
  font-size: 0.30666667rem;
  color: #111111;
  border: none;
}
.ssg-main .ssg-ulst .ssg-span {
  color: #7f7f7f;
}
.ssg-main .ssg-btn {
  width: 5.33333333rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  font-size: 0.36rem;
  text-align: center;
  color: #fdf5f2;
  margin-left: 2.4rem;
  margin-top: 2.44rem;
  background-color: #e66f3b;
  border-radius: 88px;
  border: none;
}
.ssg-main .sq-main {
  width: 10rem;
  background-color: #eff3f9;
  font-family: PingFangSCRegular;
  position: absolute;
  top: 1.33333333rem;
  left: 0rem;
  display: none;
}
.ssg-main .sq-main .sq-ulst {
  width: 10rem;
  height: 4.8rem;
}
.ssg-main .sq-main .sq-ulst .sq-list {
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  width: 10rem;
  border-top: 1px solid #eff3f9;
  border-bottom: 1px solid #eff3f9;
  color: #26082f;
  background-color: #f9f9f9;
}
.ssg-main .sq-main .sq-ulst .sq-list a {
  text-decoration: none;
  margin-left: 0.4rem;
}
.ssg-main .sq-main .sq-ulst .change {
  background-color: #e66f3b;
}
.ssg-main .sq-main .sq-ulst .change a {
  color: #ffffff;
}
/*    SecuritySettings    密保设置   end */
/*    BonusDetails      我的奖金-奖金详情   begin */
.bd-main {
  height: 17.81333333rem;
  width: 10rem;
  font-family: PingFangSCRegular;
}
.bd-main .bd-ulst .bd-list {
  width: 10rem;
  height: 1.01333333rem;
  border-bottom: 0.14666667rem;
  border-bottom: solid #e6e6e6;
}
.bd-main .bd-ulst .bd-list a {
  text-decoration: none;
  line-height: 1.01333333rem;
  margin-left: 0.4rem;
  font-size: 0.30666667rem;
  color: #dddddd;
}
.bd-main .bd-ulst .bd-list .bd-span-st {
  margin-left: 1.06666667rem;
  font-size: 0.30666667rem;
  color: #26082f;
}
/*    BonusDetails      我的奖金-奖金详情   end */
/*    BonusDetails      财务流水-奖金详情   begin */
.bd-02-main {
  height: 17.81333333rem;
  width: 10rem;
  font-family: PingFangSCRegular;
}
.bd-02-main .bd-02-ulst .bd-02-list {
  width: 10rem;
  height: 1.28rem;
  border-bottom: 0.14666667rem;
  border-bottom: solid #e6e6e6;
}
.bd-02-main .bd-02-ulst .bd-02-list a {
  text-decoration: none;
  line-height: 1.06666667rem;
  margin-left: 0.4rem;
  font-size: 0.30666667rem;
  color: #dddddd;
}
.bd-02-main .bd-02-ulst .bd-02-list .bd-02-span-st {
  margin-left: 1.06666667rem;
  font-size: 0.30666667rem;
  color: #26082f;
}
.bd-02-main .bd-02-ulst .bd-02-list .bd-02-span-st2 {
  color: #00b31d;
}
.bd-02-main .bd-02-ulst .bd-02-list .bd-02-span-st3 {
  color: #e66f3b;
}
/*    BonusDetails      财务丽水-奖金详情   end */
/*   MyTeam     我的团队   begin  */
.mt-main {
  height: 17.81333333rem;
  width: 10rem;
  font-family: PingFangSCRegular;
}
.mt-main .mt-ulst {
  width: 10rem;
  height: 3.50666667rem;
  border-bottom: 11px solid #e6e6e6;
}
.mt-main .mt-ulst .mt-list .mt-aa-01 {
  text-decoration: none;
  line-height: 1.06666667rem;
  margin-left: 0.4rem;
  font-size: 0.30666667rem;
  color: #000000;
}
.mt-main .mt-ulst .mt-list .mt-span-01 {
  padding: 6px 23px 7px 20px;
  margin-left: 0.25333333rem;
  font-size: 0.26666667rem;
  color: #ffffff;
  background-color: #e66f3b;
  border-radius: 0.44rem;
}
.mt-main .mt-ulst .mt-list-01 .mt-aa-02 {
  text-decoration: none;
  line-height: 0.53333333rem;
  margin-left: 0.4rem;
  font-size: 0.30666667rem;
  color: #a0a0a0;
}
.mt-main .mt-ulst .mt-list-01 .mt-span-02 {
  margin-left: 0.44rem;
  font-size: 0.30666667rem;
  color: #000000;
}
.mt-main .mt-ulst .mt-list-01 .mt-span-03 {
  margin-left: 0.14666667rem;
}
/*   MyTeam     我的团队   end  */
/*    ModifyPassword    修改密码    begin  */
.mp-main {
  font-family: PingFangSCRegular;
}
.mp-main .mp-ulst .mp-list-01:first-child {
  background-image: none;
}
.mp-main .mp-ulst .mp-list-01 .mp-ipt {
  margin-left: 2.13333333rem;
}
.mp-main .mp-ulst .mp-list-01 .mp-ipt2 {
  margin-left: 1.50666667rem;
}
.mp-main .mp-btn-top {
  margin-top: 2.24rem;
}
.mp-main .mp-text-01 {
  margin-top: 0.26666667rem;
  font-size: 0.26666667rem;
  width: 10rem;
  text-align: center;
  color: #e66f3b;
}
/*    ModifyPassword    修改密码     end   */
/*     AccountManagement    账户管理    begin  */
.am-main {
  font-family: PingFangSCRegular;
}
.am-main .am-ulst .am-list .am-ipt {
  width: 2.66666667rem;
  height: 0.8rem;
  margin-left: 1.32rem;
}
.am-main .am-ulst .am-list .am-ipt-02 {
  width: 2.66666667rem;
  height: 0.8rem;
  margin-left: 1.02666667rem;
}
.am-main .am-ulst-02 {
  position: relative;
}
.am-main .am-ulst-02 .am-list-02 {
  background: url(../img/hp-right.png);
  background-size: 5%;
  background-position: 9.4rem 0.467rem;
  background-repeat: no-repeat;
  position: relative;
}
.am-main .am-ulst-02 .am-list-02 .am-aa-02 {
  text-decoration: none;
  color: #7f7f7f;
}
.am-main .am-ulst-02 .am-list-03 {
  background-position: 9.4rem 0.467rem;
}
.am-main .am-btn-top {
  margin-top: 2.70666667rem;
}
/*     AccountManagement    账户管理      end  */
/*    Withdrawals    提现    begin  */
.hp-header {
  position: relative;
}
.hp-header .ww-right-text {
  margin-right: 0.4rem;
  font-size: 0.34666667rem;
  position: absolute;
  right: 0rem;
}
.ww-text-nav {
  width: 10rem;
  height: 2.26666667rem;
  background-color: #e66f3b;
}
.ww-text-nav .ww-aa-01 {
  color: #ffffff;
  font-size: 0.34666667rem;
  line-height: 2.26666667rem;
  margin-left: 0.70666667rem;
}
.ww-text-nav .ww-aa-01 b {
  font-size: 0.45333333rem;
}
.ww-main {
  font-family: PingFangSCRegular;
  position: relative;
}
.ww-main .ww-text01 {
  margin-top: 0.54666667rem;
}
.ww-main .ww-text02 {
  margin-top: 0.41333333rem;
}
.ww-main .ww-pp-text {
  margin-top: 0.26666667rem;
  font-size: 0.26666667rem;
  width: 10rem;
  text-align: center;
  color: #e66f3b;
  margin-left: -0.4rem;
}
.ww-main .ww-top {
  margin-top: 0.26666667rem;
  width: 9.2rem;
}
.ww-main .ww-btm {
  background-color: #e87948;
  color: #ffffff;
  margin-top: 0.65333333rem;
  margin-left: 2rem;
}
.ww-main .ww-span-01 {
  font-family: PingFangSCRegular;
  font-size: 0.25333333rem;
  color: #9a8c9e;
  position: absolute;
  top: 6.46666667rem;
  right: 0.90666667rem;
}
.ww-pp-02 {
  font-family: PingFangSCRegular;
  font-size: 0.24rem;
  color: #8a8989;
  margin-left: 0.84rem;
  line-height: 0.46666667rem;
}
/*    Withdrawals    提现     end   */
/*   TransferAccounts  转账   begin  */
/*   TransferAccounts  转账   end  */
/*   InvitingFriends     邀请好友    begin    */
.if-main {
  font-family: PingFangSCRegular;
}
.if-main .if-ipt01 {
  margin-top: 0.30666667rem;
  margin-bottom: 0.24rem;
  height: 1.17333333rem;
  width: 9.24rem;
  border-radius: 88px;
  line-height: 1.17333333rem;
  border: 1px solid #999999;
  font-size: 0.30666667rem;
}
.if-main .if-ipt01 a {
  word-break: keep-all;
  text-decoration: none;
  color: 999999;
  margin-left: 0.4rem;
  float: left;
  overflow: hidden;
  word-break: break-all;
}
.if-main .if-pp-01 {
  margin-left: 0.4rem;
  line-height: 0.56rem;
  font-size: 0.30666667rem;
  letter-spacing: -0.01333333rem;
}
.if-main .if-myself {
  margin-top: 1.54666667rem;
  width: 9.24rem;
  text-align: center;
}
.if-main .if-myself a {
  text-decoration: none;
  font-size: 0.30666667rem;
  color: 000000;
}
.if-main .if-two-01 {
  margin-top: 0.66666667rem;
  width: 9.24rem;
  text-align: center;
}
.if-main .if-pp-02 {
  margin-top: 0.4rem;
  font-size: 0.30666667rem;
  color: 999999;
  width: 9.24rem;
  text-align: center;
}
.if-main .if-in {
  background-color: #e87948;
  margin-top: 1.06666667rem;
  margin-left: 2rem;
  color: #ffffff;
}
/*   InvitingFriends     邀请好友    end    */
/*   Member Center   会员中心   begin  */
.mc-main {
  font-family: PingFangSCRegular;
  width: 10rem;
  margin: 0;
}
.mc-main .mc-top-01 {
  width: 10rem;
  height: 2.61333333rem;
  background-color: #e87948;
}
.mc-main .mc-top-01 .mc-ulst-top {
  width: 10rem;
  height: 2.61333333rem;
}
.mc-main .mc-top-01 .mc-ulst-top .mc-list-top02 {
  padding-top: 0.26666667rem;
}
.mc-main .mc-top-01 .mc-ulst-top .mc-list-top {
  color: #ffffff;
}
.mc-main .mc-top-01 .mc-ulst-top .mc-list-top .mc-aa-01 {
  line-height: 0.65333333rem;
  font-size: 0.30666667rem;
  color: #ffffff;
}
.mc-main .mc-top-01 .mc-ulst-top .mc-list-top .mc-span-01 {
  margin-left: 0.53333333rem;
}
.mc-main .mc-top-01 .mc-ulst-top .mc-list-top .mc-span-03 {
  margin-left: 0.8rem;
}
.mc-main .mc-top-01 .mc-ulst-top .mc-list-top a {
  margin-left: 0.53333333rem;
  color: #ffffff;
  text-decoration: none;
}
.mc-main .mc-top-01 .mc-ulst-top .mc-list-top a .mc-span-02 {
  margin-left: 2.2rem;
}
.mc-main .mc-top-01 .mc-ulst-top .mc-list-top a .mc-span-02 img {
  margin-left: 0.13333333rem;
  height: 0.30666667rem;
  width: 0.30666667rem;
}
.mc-main .mc-ulst {
  height: 2.30666667rem;
  border-bottom: 0.14666667rem;
  border-bottom: solid #e6e6e6;
}
.mc-main .mc-ulst .mc-list {
  height: 2.16rem;
}
.mc-main .mc-icon-clk {
  width: 10rem;
  height: 9.90666667rem;
}
.mc-main .mc-icon-clk .clk-ul-01 {
  width: 10rem;
  height: 9.90666667rem;
  margin: 0;
  padding: 0;
  background-image: url(../img/mc-bg-03.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.mc-main .mc-icon-clk .clk-ul-01 .clk-li-01 {
  width: 3.33333333rem;
  height: 3.26666667rem;
  float: left;
}
.mc-main .mc-icon-clk .clk-ul-01 .clk-li-01 a {
  text-decoration: none;
  width: 3.33333333rem;
  height: 3.26666667rem;
  display: block;
}
.mc-main .img-xing-2 {
  width: 0.4rem;
  height: 0.37333333rem;
  margin-top: -0.13333333rem;
  margin-left: 0.2rem;
}
.mc-main .img-xing-3 {
  width: 0.4rem;
  height: 0.37333333rem;
  margin-top: -0.13333333rem;
  margin-left: 0.06666667rem;
}
/*   Member Center   会员中心    end  */
/*    Mall Center  商城中心    begin   */
.clm-main {
  width: 10rem;
  height: 17.46666667rem;
}
.clm-main .clm-img-01 {
  width: 10rem;
  height: 4.26666667rem;
}
.clm-main .clm-img-02 {
  width: 10rem;
  height: 13.2rem;
}
/*    Mall Center  商城中心    end   */
/*  FinancialFlow   财务流水  begin  */
.fflow-main {
  font-family: PingFangSCRegular;
  width: 10rem;
}
.fflow-main .fflow-ipt {
  width: 9.24rem;
  height: 1.17333333rem;
  border: 1px solid #cecece;
  border-radius: 88px;
  margin-left: 0.4rem;
  font-size: 0.30666667rem;
  padding-left: 0.4rem;
  margin-top: 0.48rem;
}
.fflow-main .fflow-ipt a {
  line-height: 1.17333333rem;
}
.fflow-main #ff-txt01 {
  background: url(../img/ff-icon.png);
  background-repeat: no-repeat;
  background-position: 8rem;
  background-size: 0.30666667rem;
}
.fflow-main .box {
  width: 8.24rem;
  height: 5.06666667rem;
  border: 1px solid #cecece;
  list-style: none;
  display: none;
  position: relative;
  left: 0.85333333rem;
}
.fflow-main .ullist li {
  width: 8.24rem;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  font-family: 黑体;
  font-size: 0.30666667rem;
  padding-left: 0.72rem;
  background: url(../img/yuan03.png);
  background-repeat: no-repeat;
  background-position: 7.33333333rem;
  background-size: 0.30666667rem;
}
.fflow-main .ullist .bg-yuan {
  background: url(../img/yuan02.png);
  background-repeat: no-repeat;
  background-position: 7.33333333rem;
  background-size: 0.30666667rem;
  z-index: 7;
}
.fflow-main .quxiao {
  width: 2.05333333rem;
  height: 0.53333333rem;
  background-color: #e6e6e6;
  margin-left: 0.72rem;
  margin-top: 1.29333333rem;
  border: none;
  font-size: 0.34666667rem;
}
.fflow-main .queren {
  width: 2.05333333rem;
  height: 0.53333333rem;
  background-color: #e6e6e6;
  margin-left: 2.61333333rem;
  margin-top: 1.29333333rem;
  border: none;
  background-color: #e66f3b;
  color: #ffffff;
  font-size: 0.34666667rem;
}
.fflow-main .ff-ulst01 {
  borde-bottom: 10px solid #cecece;
}
.fflow-main .ff-ulst01 .ff-list {
  position: relative;
}
.fflow-main .ff-ulst01 .ff-list .ff-img-right {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  right: 0.4rem;
  bottom: 1.1rem;
}
.fflow-main .ff-ulst a {
  color: #42be50;
}
.fflow-main .ff-ulst a b {
  color: #42be50;
}
/*  FinancialFlow   财务流水  end  */
/*   Recharge     充值     begin   */
.re-main .re-text02 {
  margin-top: 0.53333333rem;
}
.re-main .re-top {
  width: 9.2rem;
  margin-top: 0.45333333rem;
}
.re-main .re-right {
  background: url(../img/ff-icon.png);
  background-repeat: no-repeat;
  background-position: 605px 33px;
}
.re-main .re-top02 {
  margin-top: 5.33333333rem;
  margin-left: 2rem;
}
.re-main .box02 {
  left: 0.49333333rem;
  position: absolute;
}
.re-main .re-a-lht {
  line-height: 0.13333333rem;
}
.re-main .ulst-bg li {
  padding-left: 1.33333333rem;
}
.re-main .ulst-bg {
  position: relative;
}
.re-main .weixin {
  width: 0.42666667rem;
  height: 0.42666667rem;
  position: absolute;
  left: 0.49333333rem;
  top: 0.29333333rem;
}
.re-main .zhifubao {
  width: 0.42666667rem;
  height: 0.42666667rem;
  position: absolute;
  left: 0.49333333rem;
  top: 1.2rem;
}
/*   Recharge     充值      end   */
