<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>找回密码02</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">找回密码</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="hp-main">
			<h3 class="ss-ipt-text ft-txt ft-text">新登录密码</h3>
			<div class="online" >
				<input type="password" name="text" id="psd-01" class="psd-01" value="" placeholder="请输入登录密码">
				
				<span>
					<img src="../../img/u24.png" id="look" class="look">
				</span>
			</div>
			<h3 class="ss-ipt-text ft-txt ft-text1">新二级密码</h3>
			<input type="password" name="text" class="ss-ipt-btm ss-ipt-text ss-ipt0 ss-ipt2 ft2-paswd02" value="" placeholder="请输入新二级密码">
			<div class="ss-ipt-text ft-txt ft-text2">新密码至少6位</div>
			<a href=""><button class="ss-ipt-btm ss-in ft-next1">下一步</button></a>
		</div>
		<!--main end -->
		
	</div> 

	<script type="text/javascript" src="../../js/jquery.min.js"></script>

	
	<script type="text/javascript">
	$(document).ready(function(){
		$("#psd-01").focus();
		
  		$('.online span').click(function(){ 
  			
			if ($("#psd-01").attr("type") == "password") {
				$("#psd-01").attr("type", "text")
			}
			else {
				$("#psd-01").attr("type", "password")
			}
		})
    });    
		
	</script>
</body>
</html>