<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>找回密码01</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">找回密码</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="hp-main">
			<h3 class="ss-ipt-text ft-txt ft-text">密保问题</h3>
			<input type="text" name="text" id="int-fs" class="ss-ipt-btm ss-ipt-text ss-ipt0 ss-ipt1 ft-paswd01" value="" placeholder="初中的学校叫什么">
			<h3 class="ss-ipt-text ft-txt ft-text1">密保答案</h3>
			<input type="text" name="text" class="ss-ipt-btm ss-ipt-text ss-ipt0 ss-ipt2 ft-paswd02" value="" placeholder="请输入密保答案">
			<div class="ss-ipt-text ft-txt ft-text2">密保输入错误</div>
			<a href="fontPassword02.html"><button class="ss-ipt-btm ss-in ft-next1">下一步</button></a>
		</div>
		<!--main end -->
		
	</div> 

	<script type="text/javascript" src="../../js/jquery.min.js"></script>

	
	<script type="text/javascript">
	$(document).ready(function(){
		$("#int-fs").focus();
		
    });    
		
	</script>
</body>
</html>