<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改二级密码</title>

	<link rel="stylesheet" href="../../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../../css/hp_css.css">

	<script type="text/javascript" src="../../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">修改二级密码</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="ssg-main mp-main">					
			<ul class="ssg-ulst mp-ulst">
				<li class="ssg-list mp-list-01"><a>旧密码</a>
					<input type="password" name="" class="ssg-ipt mp-ipt" placeholder="*******" id="password02">
				</li>
				<li class="ssg-list mp-list-01"><a>新密码</a>
					<input type="password" name="" class="ssg-ipt mp-ipt" placeholder="至少6位">
				</li>
				<li class="ssg-list mp-list-01"><a>新密码确认</a>
					<input type="password" name="" class="ssg-ipt mp-ipt2" placeholder="至少6位">
				</li>
			</ul>

			<a href="../AccountManagement.html"><button class="ssg-btn mp-btn-top">保存</button></a>
			<p class="mp-text-01">提示：为了您的资金安全不要使用默认密码，及时修改</p>
		</div>
		<!--main end -->
		
	</div> 
	
	<script type="text/javascript" src="../../../js/jquery.min.js"></script>
	<script type="text/javascript">
		$("#password02").focus();
	</script>
</body>
</html>