<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的账户</title>

	<link rel="stylesheet" href="../../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../../css/hp_css.css">

	<script type="text/javascript" src="../../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">我的账户</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="ssg-main mp-main am-main">					
			<ul class="ssg-ulst mp-ulst am-ulst">
				<li class="ssg-list mp-list-01 am-list"><a>真实名字</a>
					<input type="text" name="" class="ssg-ipt mp-ipt am-ipt" placeholder="设置后不可更改" id="z-name">
				</li>
				<li class="ssg-list mp-list-01 am-list"><a>推荐人编号</a>
					<input type="text" name="" class="ssg-ipt mp-ipt am-ipt am-ipt-02" value="jwf9">
				</li>
				<li class="ssg-list mp-list-01 am-list" ><a>支付宝号</a>
					<input type="text" name="" class="ssg-ipt mp-ipt2 am-ipt" placeholder="设置后不可更改">
				</li>
			</ul>
		</div>
		<!--main end -->
		
	</div> 
	

	<script type="text/javascript" src="../../../js/jquery.min.js"></script>
	<script type="text/javascript">
		$("#z-name").focus();
	</script>
	
</body>
</html>