<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>支付中心</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">支付中心</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);"  class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="pyc-main">
			<ul class="pyc-ulst">
				<li><span>当前等级：普通会员</span></li>
				<li><span>升级为：至尊会员</span></li>
				<li><span>支付金额：5000元</span></li>
				<li><span>账户余额：奖金币0.00元</span></li>
			</ul>
			<input type="password" name="text" class="ss-ipt-btm ss-ipt-text ss-ipt0 ss-ipt2 pyc-ipt1" value="" placeholder="请输入二级密码">
			<button class="ss-ipt-btm ss-in register1 pyc-btn">确认支付</button>
			<div class="sIn-In pyc-txt"><a href="#">提示：若奖金币不足，可去会员中心充值</a></div>
		</div>
		<!--main end -->
		
	</div> 
</body>
</html>