<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>公告详情</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">公告详情</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="al2-main">					
			<h5 class="al2-h5">公司联系方式变更-公告</h5>
			<span class="al2-span">2017-4-30 10:30</span>

			<p class="al2-p-1">前段时间斗鱼举办了一场嘉年华活动，这场活动几乎所有斗鱼的超人气主播都参加了，而作为斗鱼人气最高的两位女主播陈一发和冯提莫自然也不会缺席啦！</p>
			<p class="al2-p-2">二珂不务正业直播吃西瓜四十万粉丝围观场面相当壮观</p>

			<p class="al2-p-2">但你们还记得当年斗鱼的F4吗？大表姐、陈一发、冯提莫、周二珂。以当时的发展来看，周二珂是最具新途的一个，自从签约香蕉计划之后，便逐渐淡出了人们的视野。</p>
			<p class="al2-p-2">二珂不务正业直播吃西瓜四十万粉丝围观场面相当壮观</p>

			<p class="al2-p-2">许多粉丝不禁想问，二珂干嘛去了。别急，氧气美女周二珂一直在筹备自己的第一张专辑，据说9月份就要发行了哦！</p>
			<p class="al2-p-2">二珂不务正业直播吃西瓜四十万粉丝围观场面相当壮观</p>

			<p class="al2-p-2">昨日，二珂在熊猫TV直播时没有和往常一样唱歌聊天，而是当着四十万观众的面吃起西瓜来。一边用勺子边挖边吃，还一边和水友们聊天，一点明星架子都没有。</p>
			<p class="al2-p-2">二珂不务正业直播吃西瓜四十万粉丝围观场面相当壮观</p>
			
		</div>
		<!--main end -->
		
	</div> 
</body>
</html>