<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>公告列表</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">公告列表</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="al-main">
			<ul class=" mb-ulst al-ulst">
				<li class="al-list">
					<h5 class="al-h5">公司联系方式变更-公告 
						<img src="../../img/al-icon.png">
					</h5>
					<span class="al-span">2017-4-30 10:30</span>
				</li>
			</ul>
			<ul class=" mb-ulst al-ulst">
				<li class="al-list">
					<h5 class="al-h5">公司联系方式变更-公告 
						<img src="../../img/al-icon.png">
					</h5>
					<span class="al-span">2017-4-30 10:30</span>
				</li>
			</ul>
			<ul class=" mb-ulst al-ulst">
				<li class="al-list">
					<h5 class="al-h5">公司联系方式变更-公告 
					</h5>
					<span class="al-span">2017-4-30 10:30</span>
				</li>
			</ul>
			
		</div>
		<!--main end -->
		
	</div> 

	<script type="text/javascript" src="../../js/jquery.min.js"></script>

	
	<script type="text/javascript">
		$("ul").click(function(){
			window.location.href="AnnouncementList02.html";
		});
	</script>
</body>
</html>