<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>财务流水奖金详情</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">奖金详情</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="bd-02-main">					
			<ul class="bd-02-ulst">
				<li class="bd-02-list">
					<a>单号</a>
					<span class="bd-02-span-st">YD9878987</span>
				</li>

				<li class="bd-02-list">
					<a>日期</a>
					<span class="bd-02-span-st">2017-4-30 00:00:00</span>
				</li>

				<li class="bd-02-list">
					<a>类型</a>
					<span class="bd-02-span-st">转账转出(奖金币)</span>
				</li>

				<li class="bd-02-list">
					<a>金额</a>
					<span class="bd-02-span-st bd-02-span-st2">-2209.12</span>
				</li>
				<li class="bd-02-list">
					<a>余额</a>
					<span class="bd-02-span-st bd-02-span-st3">209.12</span>
				</li>
				<li class="bd-02-list">
					<a>摘要</a>
					<span class="bd-02-span-st">转给13200200020</span>
				</li>
			</ul>
		</div>
		<!--main end -->
		
	</div> 
	<!-- <script type="text/javascript" src="../js/jquery.min.js"></script>
	
	
	<script type="text/javascript">
		
		$(".sq-ulst li").click(function() {
	
	        $(this).siblings('li').removeClass('change');  // 删除其他兄弟元素的样式
	
	        $(this).addClass('change');                            // 添加当前元素的样式
	
	    });
	</script> -->

</body>
</html>