<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的奖金-奖金详情</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">奖金详情</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="bd-main">					
			<ul class="bd-ulst">
				<li class="bd-list">
					<a>结算日期</a>
					<span class="bd-span-st">2017-4-30 00:00:00</span>
				</li>

				<li class="bd-list">
					<a>推广奖&nbsp&nbsp&nbsp</a>
					<span class="bd-span-st">1000.00</span>
				</li>

				<li class="bd-list">
					<a>管理奖&nbsp&nbsp&nbsp</a>
					<span class="bd-span-st">0.00</span>
				</li>

				<li class="bd-list">
					<a>股东分红</a>
					<span class="bd-span-st">0.00</span>
				</li>
				<li class="bd-list">
					<a>奖金总额</a>
					<span class="bd-span-st">1000.00</span>
				</li>
				<li class="bd-list">
					<a>奖金币&nbsp&nbsp&nbsp</a>
					<span class="bd-span-st">900.00</span>
				</li>
				<li class="bd-list">
					<a>积分币&nbsp&nbsp</a>
					<span class="bd-span-st">100</span>
				</li>

				
			</ul>
		</div>
		<!--main end -->
		
	</div> 
	

</body>
</html>