<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提现明细</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">提现明细</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);"  class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="cwd-main">
			<ul class="rd-ulst">
				<li>
					<h5 class="cwd-h5">提现金额<a href="">￥<b>600</b>.00</a></h5>
					<h5 class="cwd-h5 cwd-h5-1">实际到账<a href="">￥<b>600</b>.00</a></h5><br>
				</li>
				<li>
					<span class="cwd-span">状态：已到账/未到账</span>
					<span class="cwd-span2">2017-4-30 10:30</span>
				</li>
			</ul>
			<ul class="rd-ulst">
				<li>
					<h5 class="cwd-h5">提现金额<a href="">￥<b>600</b>.00</a></h5>
					<h5 class="cwd-h5 cwd-h5-1">实际到账<a href="">￥<b>600</b>.00</a></h5><br>
				</li>
				<li>
					<span class="cwd-span">状态：已到账/未到账</span>
					<span class="cwd-span2">2017-4-30 10:30</span>
				</li>
			</ul>
			<ul class="rd-ulst">
				<li>
					<h5 class="cwd-h5">提现金额<a href="">￥<b>600</b>.00</a></h5>
					<h5 class="cwd-h5 cwd-h5-1">实际到账<a href="">￥<b>600</b>.00</a></h5><br>
				</li>
				<li>
					<span class="cwd-span">状态：已到账/未到账</span>
					<span class="cwd-span2">2017-4-30 10:30</span>
				</li>
			</ul>
		</div>
		<!--main end -->
		
	</div> 
</body>
</html>