<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>邀请好友</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">邀请好友</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="hp-main if-main">
			<h3 class="ss-ipt-text ft-txt ww-text02 if-text01">邀请链接</h3>
			<div  class="if-ipt01"><a>http://www.lgyd.com/Register?Re=15201321087</a></div>
			<p class="if-pp-01">把您的邀请链接发送给好友，好友可以通过此链接注册</p>
			<P class="if-pp-01">您的推广二维码已经生成成功，可以保存和分享！</P>
			<div class="if-myself"><a href="">我是：15201321087</a></div>
			<div class="if-two-01"><img src="../../img/u16.png"></div>
			<P class="if-pp-02">您的推广二维码已经生成成功，可以保存和分享！</P>
			<a href="MyTeam.html"><button class="ss-ipt-btm if-in">查看我的团队</button></a>
		</div>
		<!--main end -->
		
	</div> 
</body>
</html>