<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商城中心</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">商城中心</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="clm-main">
			<img src="../../img/u11.jpg" class="clm-img-01">
			<!-- <img src="../img/clm-bg-01.png" class="clm-img-02"> -->
			<div style="width: 10rem; height: 13.2rem;"><img src="../../img/u11-2.jpg" style="width: 10rem; height: 13.2rem;  pointer-events: none;"></div>
		</div>
		<!--main end -->
		
	</div> 
</body>
</html>