<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的团队</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">我的团队</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="mt-main">					
			<ul class="mt-ulst">
				<li class="mt-list">
					<a class="mt-aa-01">SJKgogo</a> <span class="mt-span-01">普通会员</span>
				</li>
				<li class="mt-list-01">
					<a class="mt-aa-02">姓名:</a> <span class="mt-span-02">刘天</span>
				</li>
				<li class="mt-list-01">
					<a class="mt-aa-02">电话:</a> <span class="mt-span-02">13276567656</span>
				</li>
				<li class="mt-list-01">
					<a class="mt-aa-02">邀请人:</a> <span class="mt-span-02 mt-span-03">28676376</span>
				</li>
				<li class="mt-list-01">
					<a class="mt-aa-02">时间:</a> <span class="mt-span-02">2017-4-30 10:00</span>
				</li>
			</ul>
			<ul class="mt-ulst">
				<li class="mt-list">
					<a class="mt-aa-01">SJKgogo</a> <span class="mt-span-01">普通会员</span>
				</li>
				<li class="mt-list-01">
					<a class="mt-aa-02">姓名:</a> <span class="mt-span-02">刘天</span>
				</li>
				<li class="mt-list-01">
					<a class="mt-aa-02">电话:</a> <span class="mt-span-02">13276567656</span>
				</li>
				<li class="mt-list-01">
					<a class="mt-aa-02">邀请人:</a> <span class="mt-span-02 mt-span-03">28676376</span>
				</li>
				<li class="mt-list-01">
					<a class="mt-aa-02">时间:</a> <span class="mt-span-02">2017-4-30 10:00</span>
				</li>
			</ul>
		</div>
		<!--main end -->
		
	</div> 
	

</body>
</html>