<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>转账明细</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">转账明细</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);" class="a-return"><img src="../../img/hp-left.png" class="a-rtn-icon"></a></div>
		<!--header end -->
		<!--main begin -->
		<div class="td-main">
			<ul class="rd-ulst mb-ulst td-ulst">
				<li>
					<h5 class="cwd-h5 mb-h5">转账金额</h5><a >+<b>600</b>.00</a>
				</li>
				<li>
					<span class="cwd-span">转入方：13287876878</span>
					<span class="cwd-span2">2017-4-30 10:30</span>
				</li>
			</ul>
			<ul class="rd-ulst mb-ulst td-ulst">
				<li>
					<h5 class="cwd-h5 mb-h5">转账金额</h5><a >+<b>600</b>.00</a>
				</li>
				<li>
					<span class="cwd-span">转入方：13287876878</span>
					<span class="cwd-span2">2017-4-30 10:30</span>
				</li>
			</ul>
			<ul class="rd-ulst mb-ulst td-ulst">
				<li>
					<h5 class="cwd-h5 mb-h5">转账金额</h5><a >+<b>600</b>.00</a>
				</li>
				<li>
					<span class="cwd-span">转入方：13287876878</span>
					<span class="cwd-span2">2017-4-30 10:30</span>
				</li>
			</ul>
			
		</div>
		<!--main end -->
		
	</div> 

	
</body>
</html>