<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>转账</title>

	<link rel="stylesheet" href="../../css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../../css/hp_css.css">

	<script type="text/javascript" src="../../build/flexible_css.debug.js"></script>
	<script type="text/javascript" src="../../build/flexible.debug.js"></script>

</head>
<body>
	<div class="homePage">
		<!--header begin -->
		<header class="hp-header">转账
			<a href="TransferDetails.html"><span class="ww-right-text">明细</span></a>
		</header>
		<div class="return"><a onclick="JavaScript:history.back(-1);"  class="a-return">
			<img src="../../img/hp-left.png" class="a-rtn-icon"></a>	
		</div>

		<!--header end -->
		<!--main begin -->
		<div class="ww-text-nav"><a class="ww-aa-01">奖金币：￥<b>1024</b>.00</a></div>
		<div class="hp-main ww-main">
			<h3 class="ss-ipt-text ft-txt ww-text01">对方账号</h3>
			<input type="text" name="text" class="ss-ipt-btm ss-ipt-text ss-ipt0 ww-top" value="" placeholder="请输入对方张号">
			<h3 class="ss-ipt-text ft-txt ww-text02">转币金额</h3>
			<input type="text" name="text" class="ss-ipt-btm ss-ipt-text ss-ipt0 ww-top" value="" placeholder="请输入转币金额">
			<h3 class="ss-ipt-text ft-txt ww-text02">二级密码</h3>
			<input type="password" name="text" class="ss-ipt-btm ss-ipt-text ss-ipt0 ww-top" value="" placeholder="请输入新二级密码">
			<p class="ww-pp-text">提示：为了您的资金安全不要使用默认密码，及时修改</p>
			<button class="ss-ipt-btm ww-btm">提现</button>
		</div>
		<!--main end -->

	</div>
	
</body>
</html>